* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-top: 2.5rem;
}

[v-cloak] {
    display: none !important;
}

.heads {
    width: 100%;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    /* position: relative; */
    position: fixed;
    left: 1rem;
    right: 1rem;
    top: 0;
    z-index: 9999;
    margin: 0 auto;
    font-size: .8rem;
}

.icon {
    position: absolute;
    left: 0;
}

.icon img {
    height: .8rem;
}

a {
    text-decoration: none;
    font-size: .8rem;
}

.titles {
    /* height: 6rem; */
    overflow: hidden;
    border-bottom: .0625rem solid #cccccc;
    width: 100%;
   
    padding: .6rem 0;
}

.titles img {
    width: 2.25rem;
    float: left;
}

.subject {
    flex: 4;
    color: black;
    box-sizing: border-box;
    float: left;
    margin-left: .6rem;
}

.subject span {
    font-size: .75rem;
}

.newtime {
    font-size: .6rem;
    color: #a9a2a2;
    margin-top: .25rem;
}


/* alert弹框 */

.popDiv {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 60vw;
    padding: .75rem;
    margin-left: -35vw;
    border-radius: .1rem;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all 1s line;
    -moz-transition: width 1s;
    -webkit-transition: width 1s;
    -o-transition: width 1s;
    z-index: 9999;
    font-size: .85rem;
}